<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MovieWebApp - Home</title>
</head>
<body>
    <h1>MovieWebApp Home</h1>
    <h2>Registered Users</h2>

    <form method="POST" action="{{ url_for('submit_new_user_to_database') }}">
        <input type="text" name="name" placeholder="User Name" required>
        <button type="submit">Add New User</button>
    </form>

        {% for user in users %}
            <a href="{{ url_for('list_user_movies', user_id=user.id) }}" style="text-decoration: none; color: inherit;">
                <div style="border: 1px solid #ccc; padding: 10px; margin: 5px; cursor: pointer;">
                    <h3>{{ user.name }}</h3>
                </div>
            </a>
        {% endfor %}

</body>
</html>