<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MovieWebApp - Home</title>
</head>
<body>
    <h1>MovieWebApp Movies</h1>
    <h2>Favorite Movies of {{ user.name }}</h2>

    <form method="POST" action="{{ url_for('add_movie_to_list', user_id=user.id) }}">
        <input type="text" name="title" placeholder="Movie Title" required>
        <button type="submit">Add Movie</button><br>
    </form>

    <a href="{{ url_for('home') }}">
      <button>Back To Home</button>
    </a><br>

        {% for movie in movies %}
    <div style="border:1px solid #ccc; padding:10px; margin:10px; display:inline-block; text-align:center;">
        <img src="{{ movie.poster_url }}" width="320" height="480" alt="Movie Cover"><br>
        <h3>{{ movie.title }}</h3>

        <!-- Update Movie Form -->
        <form method="POST" action="{{ url_for('update_movie_title', user_id=user.id, movie_id=movie.id) }}">
            <input type="text" name="title" placeholder="New Title" required>
            <button type="submit" style="background-color: blue; color: white;">Change Title</button>
        </form>

        <p>{{ movie.director }}</p>
        <p>{{ movie.year }}</p>

        <form method="POST" action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}">
            <button type="submit"
                    style="background-color: red; color: white;"
                    onclick="return confirm('Are you sure you want to delete {{ movie.title }}?');">
                Delete
                </button>
        </form>
    </div>
{% endfor %}

</body>
</html>